.profilePage {
  height: 100%;
  width: 100%;
}

.profileContainer {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.photo {
  width: 85%;
  border: 1px solid black;
  height: 70%;
  margin-bottom: 50px;
  border-radius: 5px;
}

.info {
  width: 60%;
  border: 0px solid white;
  min-height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
  margin-left: 100px
}

.title {
  height: 8%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.nameBox {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.listBox {
  min-height: 4rem;
  position: relative;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
  margin-right: 30px;
}
 .boxwithphotobutton {
   height: 96%;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .prop {
  vertical-align: middle;
  font-size: 22px;
 }


 .propInfo {
   margin-top: 15px;
   margin-right: 700px;
   margin-left: 30px;
   font-size: 18px;
   min-width: 200px;
}

