.newBandPage {
  height: 100%;
  width: 100%;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  width: 60%;
  border: 0px solid white;
  min-height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
  margin-left: 100px;
}

.title {
  height: 8%;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
}

.nameBox {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.listBox {
  min-height: 4rem;
  position: relative;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
  margin-right: 30px;
}
 .boxwithphotobutton {
   height: 96%;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .prop {
  vertical-align: middle;
  font-size: 26px;
  min-width: 290px;
 }


 .propInfo {
   margin-right: 100px;
   font-size: 20px;
   text-align: left;
   min-width: 60%;
}
