.searchline {
  margin-top: 2%;
}

.input {
  margin-left: 20%;
  margin-bottom: 3%;
  width: 40%;
  height: 50px;
  border-radius: 5px;
}

.text {
  padding-left: 20%;
  font-size: 4rem;
}

.list {
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
